body {
    background-color:rgb(223, 214, 189);
}

li { 
  list-style-type: none;
  color: navy;
  display: inline-block;
  font-family: Georgia, serif;
}

header {
    border: 1px solid black;
    padding: 35px;
    text-align: center;
    background-color:  hsl(41, 88%, 37%);
}

h3,h4{
text-align: center;
} 

p {
     max-width: 40%; /* paragraph never gets wider than 60% of the screen */
margin: 0 auto; /* centers it horizontally */
background-color: hsl(41, 89%, 44%);
}

img {
image-orientation: center;
}

h3 {
      max-width: 50%; /* paragraph never gets wider than 60% of the screen */
margin: 0 auto; /* centers it horizontally */
}
