* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


.header {
font-family: 'Courier New', Courier, monospace;
    border: 1px solid black;
    padding: 35px;
    text-align: center;
    background-color:   #916e23;
}

.hero {
    width: 100%;
    min-height: 100vh;
    background-image: url(TheCruelPrince.jpg);
    background-position: center;
    background-size: contain;
    padding: 10px 10%;
    overflow: hidden;
}

.nav {
    padding: 10px 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: navy;
}

.nav ul li {
    display: inline-block;
    list-style: none;
    margin: 10px 15px;
}

.btn{
    display: inline-block;
    text-decoration: none;
    padding: 14px 40px;
    color: #fff;
    font-size: 14px;
    border-radius: 30px;
    border-top-right-radius: 0;
    list-style: none;
    position: absolute;
    margin: 0 auto;
    top: 78%;
    left: 116px;
    background-image: linear-gradient(45deg, #916e23, #916e23)

}

.content {
    margin-top: 10%;
    max-width: 600px;
}

.content h1 {
    font-size: 70px;
    color: #222;
    position: absolute;
    width: 90%;
    margin: 0 auto;
    top: 50%;
    width: 100%;
    left: 120px;
}

.content p {
    margin: 10px 0 30px;
    color: #333;
    position: absolute;
    width: 50%;
    margin: 0 auto;
    top: 67%;
    width: 100%;
    left: 120px;
    max-width: 22%
}

.footer {
    position: absolute;
    bottom: 0;
    background-color: #916e23;
    color: black;
    width: 100%;
}