* {

    border: 1px solid rgb(175, 132, 66);
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

.hero {
    width: 100%;
    min-height: 100vh;
    background-image: url(TheCruelPrince.jpg);
    background-position: center;
    background-size: contain;
    padding: 2px 1%;
    overflow: hidden;
}