* {
    font-family: 'Courier New', Courier, monospace;
    border: 1px solid black;
    padding: 35px;
    text-align: center;
    background-color:  hsl(41, 88%, 37%);
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

.hero {
    width: 100%;
    min-height: 100vh;
    background-image: url(TheCruelPrince.jpg);
    background-position: center;
    background-size: cover;
    padding: 10px 10%;
    overflow: hidden;
}