h1 {
padding: 35px;
text-align: center;
background-color: hsl(41, 88%, 37%);
}
h2,h3,{
text-align: center;
} 
body {
background-color: rgb(223, 214, 189);
}
p {
     max-width: 40%; /* paragraph never gets wider than 60% of the screen */
margin: 0 auto; /* centers it horizontally */
background-color: hsl(41, 89%, 44%);
}
img {
image-orientation: center;
}
h4 {
      max-width: 40%; /* paragraph never gets wider than 60% of the screen */
margin: 0 auto; /* centers it horizontally */
}
